[Unit]
Description=Python BabyPhone Audio Server
After=multi-user.target alsa-restore.service sound.target

[Service]
Type=idle
WorkingDirectory=%PATH_TO_SCRIPT%
ExecStart=/usr/bin/python3 %PATH_TO_SCRIPT%/audio_server.py
ExecStartPre=/bin/sleep 5
Restart=always

[Install]
WantedBy=multi-user.target