[Unit]
Description=Python BabyPhone Web Server

[Service]
Type=idle
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 %PATH_TO_SCRIPT%/web_server.py
Restart=always

[Install]
WantedBy=multi-user.target
