[Unit]
Description=Python BabyPhone Audio Server
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 %PATH_TO_SCRIPT%/audio_server.py

[Install]
WantedBy=multi-user.target